:root{}
@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Italic.woff2') format('woff2'),
        url('PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Light.woff2') format('woff2'),
        url('Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
      box-sizing: border-box;
      font-family: 'Cinzel',system-ui, sans-serif;
    }

    body {
      margin: 0;
      min-height: 100vh;
    }

    .wrapper {
      height: 100vh;
      display: flex;
    }

    /* LEFT */
    .left {
      flex: 1;
      position: relative;
    }

    .left img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .logo-bar {
      position: absolute;
      top: 50%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      padding: 20px 0;
      font-family: 'Playfair Display';
      font-weight: normal;
      font-style: italic;
      font-size: 60px;
        
    }

    .photo-credit {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.7);
    }

    /* FORM (RIGHT SIDE) */
    form {
      flex: 1.2;
      padding: 60px;
      background: #f9faf9;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .intro {
      max-width: 600px;
      margin-bottom: 40px;
      font-size: 1.1rem;
      line-height: 1.6;
    }

    fieldset {
      border: none;
      background: white;
      padding: 30px 40px 40px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      margin: 0;
    }

    legend {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    label {
      font-size: 0.7rem;
      letter-spacing: 0.05rem;
      color: #555;
      display: block;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    input::placeholder{
        text-transform: capitalize;
    }

    input:focus {
      outline: none;
      border-color: #596d48;
    }
    input::before,input:invalid{
        border-color: red;
    }


    .actions {
      margin-top: 30px;
    }

    button {
      background: #596d48;
      color: white;
      border: none;
      padding: 12px 40px;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
    }

    .login {
      margin-top: 20px;
      font-size: 0.9rem;
    }

    .login a {
      color: #596d48;
      font-weight: bold;
      text-decoration: none;
    }